.weekslist {
  display: flex;
  text-align: center;

  p {
    font-size: 1.3rem;
    text-align: start;
  }
  p:not(:last-child) {
    margin-bottom: 10px;
  }
  span {
    font-weight: 700;
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
.weeks {
  display: grid;
  gap: 20px;
  grid-template-columns: 25% 75%;
  padding: 15px;
  border-top: 1px solid var(--shadow-color);
  @media screen and (min-width: 768px) {
    padding: 40px;
  }
}
