.mamamarafon {
  min-height: calc(100vh - 51px - 56px);
  margin-top: 51px;
  @media screen and (min-width: 768px) {
    margin-top: 70px;
    min-height: calc(100vh - 70px - 56px);
  }
  h2 {
    padding: 10px;
    font-size: 5vw;
    @media screen and (min-width: 768px) {
      font-size: 3.3vw;
    }
  }
  p {
    font-size: 3vw;
    @media screen and (min-width: 768px) {
      font-size: 2vw;
    }
  }
  li {
    list-style: circle;
  }
  .hero {
    padding: 2% 10% 2% 50% ;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(21, 18, 30, 0.6),
        rgba(12, 13, 17, 0.6)
      ),
      url(../../images/pexels-anna-shvets-3850783.jpg);
    justify-content: center;
    color: var(--fourth-text-color);
  }
  .options {
    display: flex;
    text-align: center;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }
    p {
      margin-bottom: 20px;
    }
    ul {
      text-align: left;
    }

    &__describe {
      padding: 20px;
      @media screen and (min-width: 768px) {
        padding: 30px;
      }
    }
  }
  li {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .img {
    margin-right: 30px;
    margin: 0 auto;
  }
  .about {
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: var(--accent-color);
    font-weight: bold;
    p {
      font-size: 2rem;
    }
  }
  .recived {
    padding: 20px;
    @media screen and (min-width: 768px) {
      padding: 50px;
    }
  }
}
.telegram {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px var(--shadow-color), 2px 2px 15px var(--shadow-color);
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: var(--accent-button-color);
  }
}
