.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
  background-color: inherit;

  @media screen and (min-width: 768px) {
    padding: 0;
    height: 69px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.33;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.33;
    justify-content: space-between;
  }
  img {
    width: 60px;
    @media screen and (min-width: 768px) {
      width: 125px;
    }
  }

  .header_navLink {
    display: flex;
    flex-direction: row;
    img {
      width: 25px;
      height: 25px;
    }
    p {
      display: none;
    }
    a {
      margin-left: 10px;
    }
    svg {
      fill: var(--accent-nav-color);
    }
    .register {
      padding-top: 3px;
    }
    @media screen and (min-width: 768px) {
      img {
        display: none;
      }
      p {
        display: block;
        color: inherit;
      }
      a {
        margin-left: 0;
      }
      .register {
        padding-top: 0px;
      }
    }
  }

  .link {
    color: inherit;
    font-weight: 500;
    font-size: 1.1rem;
    &:hover {
      color: var(--text-color);
    }

    @media screen and (min-width: 768px) {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 1280px) {
      margin-right: 30px;
    }
  }
  .logo {
    padding-left: 10px;
    @media screen and (min-width: 768px) {
      padding-left: 20px;
    }
  }

  .logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    padding-right: 5px;
    fill: var(--accent-nav-color);
    margin-right: 20px;
    p {
      padding: 5px;
      margin: 0;
    }
  }

  .activeStyle {
    color: inherit;   
    font-size: 1.1rem;
    border-bottom: 1px solid var(--accent-nav-color);
    &:hover {
      color: var(--text-color);
    }

    @media screen and (min-width: 768px) {
      margin-right: 50px;
      &:last-child {
        margin-right: 16px;
      }
    }
  }
}
.name_wrapper {
  width: 33px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100px;
  }
}

.letter_wrapper {
  width: 33px;
  height: 33px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--modal-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.firs_letter {
  font-weight: 700;
  line-height: 1.33;
  margin-left: 0;
}

.name {
  display: none;
  @media screen and (min-width: 768px) {
    width: 45px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
  }
}

.flex {
  display: flex;
  cursor: pointer;
}

.navIconMenu_wrapper {
  display: flex;
  width: 20px;
  height: 67px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    width: 51px;
  }
}

.navIcon_btn {
  width: 66px;
  height: 69px;
  padding: 0;
  padding-right: 0;
  display: block;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid rgba(0, 18, 47, 0.15);
  text-decoration: none;
}

.navIcon_signOut {
  display: flex;
  fill: var(--accent-nav-color);
}

.text_transform {
  width: 70px;
}
