.helpful {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  align-items: center;
  justify-items: center;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    margin-left: 30px;
    
    font-size: 1.9rem;
  }

  .list {
    padding: 20px;
    li {
      list-style: circle;
    }
  }

  .text {
    font-size: 1.1rem;
    font-weight: 400;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
    }
    &__list {
      p {
        margin-bottom: 10px;
      }
    }
  }
  .img {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 2px var(--shadow-color);
  }
}
