.authForm {
  display: block;
  margin: 0 auto;
  padding: 40px 20px;
  width: 280px;
  font-size: 10px;
  border-radius: 8px;
  background: linear-gradient(
    0deg,
    var(--gradient1) 0%,
    var(--gradient2) 6%,
    var(--gradient3) 100%
  );
  box-shadow:var(--box-shadow-color) 0px 5px 15px;

  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    padding: 60px 32px 48px 32px;
    width: 501px;
  }

  input {
    background: #e8f0fe;
    width: 95%;
    border-radius: 8px;
    font-size: 1.2rem;
  }
  .authFormTitle2 {
    font-size: 2rem;
    display: block;
    text-align: center;
  }
  .btn {
    width: 170px;
    border-radius: 8px;
    border: none;
    height: 24px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: inherit;
    border: 3px solid var(--gradient3);
    &:hover {
      // color: white;
      font-weight: 600;
      border: 3px solid white;
      background-color: var(--modal-bg-color);
    }
  }
}

.authFormTitle {
  font-family: "Montserrat";
  margin-bottom: 32px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.authFormTitle2 {
  font-family: "Montserrat";
  margin-bottom: 32px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
