.switch_theme_div {
  margin-bottom: 5px;
  @media screen and (min-width: 768px) {
  padding: 10px;
  }

 .btnD{
  font-size: 23px;
  background: transparent;
  border: none;
 }
  .btnL {
    font-size: 23px;
    background: transparent;
    border: none;
  }}