.authPage {
  min-height: calc(100vh - 70px - 56px);
  margin-top: 51px;
  padding-top: 40px;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }

  .reglog {
    margin-top: 10px;
  }

  .authPageLeft {
    width: 280px;
    margin: auto;
    @media screen and (min-width: 768px) {
      width: 535px;
    }
  }
  .authPageTitle {
    padding-bottom: 8px;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .authtext {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 2.25;
      width: 535px;
    }
  }
  .authspan {
    font-weight: 600;
  }
}
