.users {
  min-height: calc(100vh - 51px - 56px);
  margin-top:51px;
  @media screen and (min-width: 768px) {
    margin-top: 70px;
    min-height: calc(100vh - 70px - 56px);
  }
  .list {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
    &__info{
      padding: 10px;
    }
    li {
      border: 1px solid var(--check-color);
      border-radius: 5px;
      padding: 10px;
      display: flex;     
      box-shadow: var(--box-shadow-color) 2px 2px 2px; 
      &:hover {
        cursor: pointer;
        box-shadow: var(--box-shadow-color) 0px 6px 10px;
      }

      .image{
        border-radius: 5px;
        box-shadow: var(--box-shadow-color) 1px 1px 5px;
      }

      .text {
        &__name {
          font-size: 18px;
          margin: 0;
        }
        &__email {
          margin: 0;
        }
      }
    }
  }
}
