:root {
  // --primary-bg-color: #f3f3dd;
  --primary-bg-color: #f6f6f6;
  --second-bg-color: #eaeaea; 
  --third-bg-color: #2b2b2b; 
  --bg-color: rgba(255, 255, 255, 0.33);
  --btn-bg-color: #eef3dd;
  --modal-bg-color: #e5c984;
  --second-button-color: #02172a;
  --accent-color:#c97caa;
  --accent-button-color:#a270b9;
  --accent-nav-color: #6c59d1;
  --check-color:#c97caa;
  --shadow-color: rgba(65, 40, 40, 0.2);
  --box-shadow-color: rgba(65, 40, 40, 0.35);
  --btn-second-color: #6c59d1;
  --primary-text-color: #141311;
  --secondary-text-color: #555555;
  --third-text-color: #ffffff;
  --fourth-text-color: #f6f2eb;
  --text-color: #000000;
  --border-color: #e2e3e5;
  --border-check-color: #000000;
  --contacts-vector: #00122f;
  --admin-svg: #cccccc;
  --question-wrapper-color: rgba(2, 23, 42, 0.1);
  --test-main-pages-line-color: #00122f;
  --gradient1::#c97caa;
  --gradient2:#a270b9;
  --gradient3: #6c59d1;
}
*{
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  background-color: var(--primary-bg-color);
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color:inherit;
}
a:hover {
  text-decoration: none;
  color: var(--accent-nav-color);
  stroke: var(--accent-nav-color);
}
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
